
html {
    scroll-behavior: smooth;
}

body {
  background-color: black
  scr
}


.golem-landing {
  display: grid;
  grid-template-columns: 6fr  4fr;
  height: 100vh;
  background-image: url('../../../images/background/img1.jpg');
  background-size: cover;
}


.landing-text-container {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: auto;
  width: 90%;
}

.title {
  font-size: 115px;
  margin: auto;
}

.subtitle {
  font-size: 65px;
  margin: auto;
}

.text {
  font-size: 25px
}

.icon-container {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: auto;
  width: 90%;
  text-align: center;
}

.icon {
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .icon {
    height: 150px;
    width: 150px;
  }
  .title {
    font-size: 60px;
    margin: auto;
  }
  
  .subtitle {
    font-size: 28px;
    margin: auto;
  }
  
}

@media screen and (max-width: 576px) {
  .golem-landing {
    display: block;
    height: 100vh;
    background-image: url('../../../images/background/img1.jpg');
    background-size: cover;
  }

  .title {
    font-size: 55px;
    margin: auto;
    display: flex;
    padding: 180px 0 0 0;
  }

  .subtitle {
    font-size: 30px;
    margin: auto;
  }
}
/* @media screen and (max-width: 300px) {
  body{
    width: 100%;
  }

  .golem-landing {
    display: block;
    height: 100vh;
    background-image: url('../../../images/background/img1.jpg');
    background-size: cover;
  }

  .landing-text-container {
    margin: auto;
  }

  .title {
    font-size: 55px;
    margin: auto;
    display: flex;

  }

  .subtitle {
    font-size: 30px;
    margin: auto;
  }
} */