body {
  background-color: black
}


.golem-landing {
  display: grid;
  grid-template-columns: 6fr  4fr;
  height: 100vh;
  background-image: url('../../../images/background/img1.jpg');
}


.landing-text-container {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: auto;
  width: 90%;
}

.title {
  font-size: 115px;
  margin: auto;
}

.subtitle {
  font-size: 65px;
  margin: auto;
}

.text {
  font-size: 25px
}

.icon-container {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: auto;
  width: 90%;
}

.icon {
  height: 200px;
  width: 200px;
  background-color: #555;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .icon {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .icon {
    visibility: hidden
  }
}
@media screen and (max-width: 375px) {
  .landing-text-container {
    margin: auto;
  }

.title {
  font-size: 55px;
  margin: auto;
  display: flex;

}

.subtitle {
  font-size: 30px;
  margin: auto;
}
}