
html {
    scroll-behavior: smooth;
}

body {
  background-color: black
  scr
}


.golem-landing {
  display: grid;
  grid-template-columns: 6fr  4fr;
  height: 100vh;
  background-image: url('../../../images/background/img1.jpg');
  background-size: cover;
}


.landing-text-container {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: auto;
  width: 90%;
}

.title {
  font-size: 115px;
  margin: auto;
}

.subtitle {
  font-size: 65px;
  margin: auto;
}

.text {
  font-size: 25px
}

.icon-container {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: auto;
  width: 90%;
  text-align: center;
}

.icon {
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 992px) {
  .golem-landing {
    display: block;
    height: 100vh;
    background-image: url('../../../images/background/img1.jpg');
    background-size: cover;
    text-align: center;
  }

  .landing-text-container {
    text-align: center;
    margin: 0px 0 35px 40px;
  }

  .title {
    font-size: 65px;
    margin: auto;
    padding: 180px 0 0 0;
  }

  .subtitle {
    font-size: 40px;
    margin: auto;
  }

  .icon-container {
    width: 100%;
    text-align: center;
  }
  .icon {
    height: 300px;
    width: 300px;
  }
  
}

@media screen and (max-width: 750px) {
  .icon {
    height: 150px;
    width: 150px;
  }
  .title {
    font-size: 60px;
    margin: auto;
  }
  
  .subtitle {
    font-size: 28px;
    margin: auto;
  }
}

@media screen and (max-width: 414px) {
  .golem-landing {
    display: block;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    background-image: url('../../../images/background/img1.jpg');
    background-size: cover;
  }

  .landing-text-container {
    text-align: center;
    margin: 0px 0 35px 20px;
  }

  .title {
    font-size: 55px;
    margin: auto;
    padding: 180px 0 0 0;
  }

  .subtitle {
    font-size: 30px;
    margin: auto;
  }

  .icon-container {
    width: 100%;
    text-align: center;
  }
  .icon {
    height: 200px;
    width: 200px;
  }
  
}

