html {
  scroll-behavior: smooth;
}

.golem-services {
  height: 100vh;
  background-image: url("../../../images/background/img3.png");
}

.service-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  justify-items: center;
  height: 100%;
}

.service-card1-main {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 75%;
  background: rgba(217, 217, 217, 0.2);
  margin: 50%;
  border-radius: 4px;
  transition: transform .2s;
}

.service-card1-main:hover {
  transform: scale(1.03);
}


.service-card2-main {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 75%;
  background: rgba(217, 217, 217, 0.2);
  margin: 50%;
  border-radius: 4px;
  transition: transform .2s;
}

.service-card2-main:hover {
  transform: scale(1.03);
}

.service-card3-main {
  grid-column-start: 3;
  grid-column-end: 4;
  width: 75%;
  background: rgba(217, 217, 217, 0.2);
  margin: 50%;
  border-radius: 4px;
  transition: transform .2s;
}

.service-card3-main:hover {
  transform: scale(1.03);
}

.title-service-card {
  text-align: center;
}

.text-service-card {
  padding: 24px;
}

.server-img-container {
  grid-column-start: 4;
  grid-column-end: 5;
  width: 261px;
  height: 518px;
  margin: 50%;
  object-fit: cover;
  border-radius: 4px;
}

@media screen and (max-width: 1200px) {
  .golem-services {
    height: 100%;
  }
  .server-img-container {
    display: none;
    
  }
  .service-cards-container {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

@media screen and (max-width: 992px) {
  .service-cards-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: auto;
  }
  .text-service-card {
    padding: 5px;
    text-align: center;
  }
  h2{
    font-size: 20px;
    margin-bottom: 0;
  }
  .service-card1-main {
    margin: 0 auto;
  }
  .service-card2-main {
    margin: 0 auto;
  }
  .service-card3-main {
    margin: 0 auto;
  }

}


@media screen and (max-width: 576px) {

  .service-cards-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: auto;
  }
  .text-service-card {
    padding: 5px;
    text-align: center;
  }
  h2{
    font-size: 20px;
    margin-bottom: 0;
  }
  .service-card1-main {
    margin: 0 auto;
  }
  .service-card2-main {
    margin: 0 auto;
  }
  .service-card3-main {
    margin: 0 auto;
  }

}

@media screen and (max-width: 414px) {

  .service-cards-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0px 0 0 24px;
  }
  .text-service-card {
    padding: 5px;
  }
  h2{
    font-size: 20px;
    margin-bottom: 0;
  }
  .service-card1-main {
    margin: 0 auto;
  }
  .service-card2-main {
    margin: 0 auto;
  }
  .service-card3-main {
    margin: 0 auto;
  }

}