.golem-contact {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr  1fr;
}

.contact-form-container {

}

.contact-form-main {
  display: grid; 
  height: 60%;
  margin: 23% 10% 0% 10%;
  grid-template-columns: 1fr  1fr;
  grid-template-rows: 1fr  1fr 1fr 1fr 1fr ;
}

.input-form {
  display: grid;
  margin: 17px;
}



.contact-txt-container {
  height: 50%;
  width: 60%;
  margin: auto;
  background-color: rgba(217, 217, 217, 0.2);
}
@media screen and (max-width: 752px) {

.contact-txt-container {
  margin-top: 130px;
  height: 250px;
}
.contact-form-main {
  grid-template-columns: 1fr;
}

.golem-contact {
  grid-template-columns: 1fr;
}

}