.golem-about {
  display: grid;
  grid-template-columns: 4fr  6fr;
  height: 110vh;
  background-image: url('../../../images/illustration/neon2.png');
}

.about-text-container {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  grid-template-rows: 3fr 7fr;
  margin: auto;
  width: 75%;
  margin: 33% 0 0 0;
  z-index: 1;
}

.main-txt {
  grid-column-start: 1;
  grid-column-end: 4;
}

.main-txt-title {
  font-size: 20px;
}

.main-txt-sub {

}

.card-main {

}

.card-title {

}

.card-txt {

}