html {
  scroll-behavior: smooth;
}

.golem-about {
  display: grid;
  grid-template-columns: 3fr  6fr;
  height: 110vh;
  background: url('../../../images/illustration/neon2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
}

.about-text-container {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-rows: 1fr 9fr;
  margin: auto;
  width: 65%;
  margin: 280px 0 0 0;
  z-index: 1;
}

.main-txt {
  grid-column-start: 1;
  grid-column-end: 1;
}

.main-txt-title {
  font-size: 20px;
}

.main-txt-sub {
  
}

.card-master {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-main {
  margin-right: 5px;
  width: 170px;
  word-wrap: break-word;
}

.card-title {

}

.card-txt {

}

@media screen and (max-width: 1650px) {
  .about-text-container {
    margin: 169px 0 0 0;
  }
}

@media screen and (max-width: 1200px) {
  .golem-about {
    background-size: 1200px;
    background-repeat: no-repeat;
  }

  .about-text-container {
    margin: 135px 0 0 0;
  }

  .about-text-container  h1 {
    font-size: 20px;
  }

  .about-text-container  h3 {
    font-size: 15px;
  }
  
  .about-text-container  p {
    font-size: 13px;
  }
  
}

@media screen and (max-width: 992px) {
  .golem-about {
    background: black;
    display: block;
    height: 60vh;
  }

  .about-text-container {
    margin: 24% 0 0 12%;
  }

  .card-master {
    margin-right: 5px;
    height: 200px;
  }
}

@media screen and (max-width: 750px) {
  .golem-about {
    background: black;
    display: block;
    height: 135vh;
    margin-bottom: 90px;
}

  .about-text-container {
    margin: 15% 0px 0px 19%;
    display: inline-block;
  }

  .main-txt-title {
    font-size: 15px;
  }

  .main-txt-sub {
    font-size: 15px;
  }
  .card-master {
    margin-right: 5px;
    height: 200px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 414px) {

  .golem-about {
    background: black;
    height: 150vh;
    text-align: center;
  }

  .about-text-container {
    margin: 15% 0px 0px 5%;
    display: inline-block;
  }

  .main-txt {
    font-size: 12px;
    margin-bottom: 50px;
  }
  .main-txt-title {
    font-size: 15px;
  }

  .card-main {
    margin: 0 auto;
    width: 170px;
    word-wrap: break-word;
  }
  .card-master{
    display: block;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
  }
}


